name: Plugin asset/readme update
on:
  push:
    branches:
    - main
jobs:
  trunk:
    name: Push to trunk
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: WordPress.org plugin asset/readme update
      uses: 10up/action-wordpress-plugin-asset-update@stable
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD_NILOY }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME_NILOY }}
        SLUG: qty-increment-buttons-for-woocommerce
        IGNORE_OTHER_FILES: true